<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Administrar Usuarios</title>
</head>
<body>
    <h1>Administrar Usuarios</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Rol</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr>
                <td>{{first_name}} {{last_name}}</td>
                <td>{{email}}</td>
                <td>{{role}}</td>
                <td>
                    <form action="/users/{{_id}}/role" method="POST" style="display:inline;">
                    <input type="hidden" name="_method" value="PUT">
                    <input type="hidden" name="role" value="admin">
                    <button type="submit">Convertir a Admin</button>
</form>

<form action="/users/{{_id}}" method="POST" style="display:inline;">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit">Eliminar</button>
</form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</body>
</html>
