<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Productos</title>
</head>
<body>
  <h1>Productos</h1>

  {{#if user}}
    <h2>Bienvenido a la tienda, {{user.first_name}}!</h2>
    <form action="/api/sessions/logout" method="post">
      <button type="submit">Cerrar sesi칩n</button>
    </form>
  {{else}}
    <p>Inicia sesi칩n para ver los productos.</p>
    <a href="/login">Iniciar sesi칩n</a>
  {{/if}}
  <h2>Lista de productos</h2>
  <ul>
    {{#each products}}
      <li>
        <h2>{{this.nombre}}</h2>
        <p>{{this.descripcion}}</p>
        <p>Precio: ${{this.precio}}</p>
        <p>Stock: {{this.stock}}</p>
        <a href="/api/products/{{this._id}}">Ver detalles</a>
        <form action="/products/add-to-cart/{{this._id}}" method="POST">
          <button type="submit">A침adir al carrito</button>
        </form>
      </li>
    {{/each}}
  </ul>

  <div class="pagination">
    {{#if response.hasPrevPage}}
      <a href="?page={{response.subtract response.currentPage 1}}">Anterior</a>
    {{/if}}

    {{#if response.hasNextPage}}
      <a href="?page={{response.add response.currentPage 1}}">Siguiente</a>
    {{/if}}
  </div>
</body>
</html>
