<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Productos</title>
</head>
<body>

  <h1>Agregar Productos al Carrito</h1>
  <h2>
    <p>Nombre: {{user.first_name}} {{user.last_name}}</p>
    <p>Email: {{user.email}}</p>
    <p>Edad: {{user.age}}</p>
    <p>Carrito: {{user.cart}}</p>
  </h2>

  <ul>
    {{#each products}}
      <li>
        <h2>{{this.nombre}}</h2>
        <p>{{this.descripcion}}</p>
        <p>Precio: ${{this.precio}}</p>
        <p>Stock: {{this.stock}}</p>
        
       <form class="add-to-cart-form" action="/api/carts/{{../user.cart}}/add-product/{{this._id}}" method="POST">
  <input type="hidden" name="productId" value="{{this._id}}">
  <input type="number" name="quantity" value="1" min="1" max="{{this.stock}}">
  <button type="submit">Añadir al carrito</button>
</form>

      </li>
    {{/each}}
  </ul>

  <div class="pagination">
    {{#if response.hasPrevPage}}
      <a href="?page={{response.subtract response.currentPage 1}}">Anterior</a>
    {{/if}}

    {{#if response.hasNextPage}}
      <a href="?page={{response.add response.currentPage 1}}">Siguiente</a>
    {{/if}}
  </div>
s
</body>
</html>
